<div class="container">
  <header>
    <h1>ToDo v3</h1>
    <form>
      <textarea name="txt_task" id="txt_task"></textarea>
      <button type="button">Save</button>
    </form>
  </header>
  <main>
    <div class="tasklist">
      <div class="tasklist__header">
        <div class="tasklist__header--title todo ">To Do (#)</div>
        <div class="range">
          <progress id="file" min="0" max="7" value="2" ></progress>
          <div class="range__minmax">
            <div class="min">Min 1</div>
            <div class="max">Max 7</div>
          </div>
        </div>
      </div>
      <div class="tasklist__main">
        <div class="tasklist__item item__todo">
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            laborum aperiam, aspernatur laudantium quam consequuntur?
          </p>
          <div class="tasklist__main--footer">
            <div class="trash"><fa-icon [icon]="trashcan"></fa-icon></div>
            <div class="next"><fa-icon [icon]="next"></fa-icon></div>
          </div>
        </div>
        <div class="tasklist__item item__todo">
          <p  class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            laborum aperiam, aspernatur laudantium quam consequuntur?
          </p>
          <div class="tasklist__main--footer">
            <div class="trash"><fa-icon [icon]="trashcan"></fa-icon></div>
            <div class="next"><fa-icon [icon]="next"></fa-icon></div>
          </div>
        </div>
      </div>
    </div>

    <div class="tasklist">
      <div class="tasklist__header">
        <div class="tasklist__header--title progress">In Progress (#)</div>
        <div class="range">
          <progress id="file" min="0" max="7" value="2" ></progress>
          <div class="range__minmax">
            <div class="min">Min 1</div>
            <div class="max">Max 7</div>
          </div>
        </div>
      </div>
      <div class="tasklist__main">
        <div class="tasklist__item item__progress">
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            laborum aperiam, aspernatur laudantium quam consequuntur?
          </p>
          <div class="tasklist__main--footer">
            <div class="trash"><fa-icon [icon]="trashcan"></fa-icon></div>
            <div class="nextprev">
              <div class="prev"><fa-icon [icon]="prev"></fa-icon></div>
              <div class="next"><fa-icon [icon]="next"></fa-icon></div>
            </div>
          </div>
        </div>
        <div class="tasklist__item item__progress">
          <p  class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            laborum aperiam, aspernatur laudantium quam consequuntur?
          </p>
          <div class="tasklist__main--footer">
            <div class="trash"><fa-icon [icon]="trashcan"></fa-icon></div>
            <div class="nextprev">
              <div class="prev"><fa-icon [icon]="prev"></fa-icon></div>
              <div class="next"><fa-icon [icon]="next"></fa-icon></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tasklist">
      <div class="tasklist__header">
        <div class="tasklist__header--title done">Done (#)</div>
        <div class="range">
          <progress id="file" min="0" max="7" value="2" ></progress>
          <div class="range__minmax">
            <div class="min">Min 1</div>
            <div class="max">Max 7</div>
          </div>
        </div>
      </div>
      <div class="tasklist__main">
        <div class="tasklist__item item__done">
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            laborum aperiam, aspernatur laudantium quam consequuntur?
          </p>
          <div class="tasklist__main--footer">
            <div class="trash"><fa-icon [icon]="trashcan"></fa-icon></div>
            <div class="nextprev">
              <div class="prev"><fa-icon [icon]="prev"></fa-icon></div>
              <div class="next"><fa-icon [icon]="next"></fa-icon></div>
            </div>
          </div>
        </div>
        <div class="tasklist__item item__done">
          <p  class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            laborum aperiam, aspernatur laudantium quam consequuntur?
          </p>
          <div class="tasklist__main--footer">
            <div class="trash"><fa-icon [icon]="trashcan"></fa-icon></div>
            <div class="nextprev">
              <div class="prev"><fa-icon [icon]="prev"></fa-icon></div>
              <div class="next"><fa-icon [icon]="next"></fa-icon></div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </main>
</div>
